/* @src/components/Modal.module.css */

/*********/
/* RESET */
/*********/
input,
select {
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

/******************/
/* MODAL BACKDROP */
/******************/
.darkBG {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */
  position: fixed;
  z-index: 999;
}

.darkBG.darkMode {
  background-color: rgba(0, 0, 0, 0.2);
}
.darkBG.lightMode {
  background-color: rgba(12, 0, 57, 0.2);
}

/*********/
/* MODAL */
/*********/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 92vw;
  max-width: 25rem;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;

  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
}

.modal.darkMode {
  background-color: var(--bg-primary);
  color: var(--text-white);
}
.modal.lightMode {
  background-color: var(--bg-white);
  color: var(--text-dark);
}

/* modal form textarea scrollbar */
.modal::-webkit-scrollbar {
  width: 1rem;
}
.modal::-webkit-scrollbar-thumb {
  border-left: .25rem solid rgba(0, 0, 0, 0);
  border-right: .25rem solid rgba(0, 0, 0, 0);
  border-top: .25rem solid rgba(0, 0, 0, 0);
  border-bottom: .25rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: .5rem;
  /* background-color: red; */
}
.modal.darkMode::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-medium);
}
.modal.lightMode::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-light);
}



.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.modalHeading {
  margin: 0;
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  text-transform: capitalize;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*********/
/* TASKS */
/*********/
.taskDescription {
  color: var(--text-mediumGrey);
}
.subTaskText {
  /* border: 1px solid var(--border-dark); */
  border: 1px solid transparent;
  border-radius: 0.5rem;
  /* border-radius: 0; */
  /* background-color: var(--bg-veryDarkGrey); */
  /* color: var(--text-mediumGrey); */
  /* padding: 0.5rem; */
  width: 100%;
}

.subTaskText.subTaskChecked {
  text-decoration: line-through;
  color: var(--text-mediumGrey);
}


/*********/
/* FORMS */
/*********/
.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalFormLabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.modalFormInputWrapper {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  align-items: baseline;
  gap: 0.5rem;
}

.modalFormInput {
  background-color: var(--bg-darkGrey);
  border: 1px solid var(--border-dark);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.modalFormInput:disabled {
  color: var(--text-mediumGrey);
}
.lightMode .modalFormInput {
  border: 1px solid var(--text-mediumGrey);
}
.modalFormInput.inputReadOnly {
  border: 1px solid transparent;
  border-radius: 0;
  background-color: var(--bg-veryDarkGrey);
}
.lightMode .modalFormInput.inputReadOnly {
  background-color: var(--bg-veryLightBlue);
}

.modalFormTextarea {
  resize: none;
  height: 7.1rem;
}

/* modal form textarea scrollbar */
.modalFormTextarea::-webkit-scrollbar {
  width: 1rem;
}
.modalFormTextarea::-webkit-scrollbar-thumb {
  border-left: .25rem solid rgba(0, 0, 0, 0);
  border-right: .25rem solid rgba(0, 0, 0, 0);
  border-top: .25rem solid rgba(0, 0, 0, 0);
  border-bottom: .25rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: .5rem;
  /* background-color: red; */
}
.modal.darkMode .modalFormTextarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-medium);
}
.modal.lightMode .modalFormTextarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-light);
}


.modalFormInput:focus,
.modalFormTextarea:focus {
  outline: none;
  border: 1px solid var(--text-white);
}
.lightMode .modalFormInput:focus,
.lightMode .modalFormTextarea:focus {
  outline: none;
  border: 1px solid var(--border-dark);
}
.modalFormFieldset {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  border: none;
  padding: 0;
  margin: 0;
}
.modalFormFieldset > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.darkMode .modalFormSelect {
  color: var(--text-white);
  background-color: var(--bg-primary);
}
.darkMode .modalFormOption {
  color: var(--text-white);
  background-color: var(--bg-darkGrey);
}

.modalFormCheckboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  /* border-radius: 0; */
  background-color: var(--bg-veryDarkGrey);
  /* color: var(--text-mediumGrey); */
  padding: 0.5rem;
  width: 100%;
}
.lightMode .modalFormCheckboxWrapper {
  background-color: var(--bg-veryLightBlue);
}
.modalFormLabelCheckbox {
  width: unset;
}
.modalFormCheckbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-primary);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.lightMode .modalFormCheckbox {
  background-color: var(--bg-white);
  border: 1px solid var(--text-mediumGrey);
}
.modalFormCheckbox:checked {
  background-color: var(--bg-purple);
  border: 1px solid transparent;
}
.modalFormCheckbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--text-white); /*check color*/
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.modalFormCheckbox:checked::before {
  transform: scale(1);
}

/***********/
/* BUTTONS */
/***********/
.btn {
  cursor: pointer;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1.5rem;
  border: none;
  background-color: white;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.addBtn {
  color: var(--text-purple);
  background-color: var(--bg-white);
  border: 1px solid var(--border-dark);
}
.addBtn:hover {
  background-color: var(--bg-veryLightBlue);
}
.lightMode .addBtn {
  border-color: var(--text-mediumGrey);  
}

.lightMode .addBtn:hover {
  background-color: var(--bg-veryLightBlue);
}


.saveBtn {
  color: var(--text-white);
  background-color: var(--bg-purple);
}
.saveBtn:hover {
  background-color: var(--bg-lightPurple);
}

.deleteBtn {
  color: #fff;
  background-color: #ff3e4e;
}
.deleteBtnCircle {
  color: var(--text-mediumGrey);
  background: none;
  padding: 0;
}
.deleteBtnIcon {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-top;
}

.cancelBtn {
  color: var(--text-purple);
  background-color: inherit;
  /* background-color: var(--bg-white); */
  border: 1px solid var(--border-dark);
}
.cancelBtn:hover {
  background-color: var(--bg-veryDarkGrey);
}
.lightMode .cancelBtn {
  border-color: var(--text-mediumGrey);
}
.lightMode .cancelBtn:hover {
  background-color: var(--bg-veryLightBlue);
}

/* .deleteBtn {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-top;
  color: #fff;
  background-color: #ff3e4e;
  padding: 0;
} */

/**************/
/* SORT ICONS */
/**************/

.sortIconDiv {
  cursor:grab ;
  border: none;
  color: var(--text-mediumGrey);
  background: none;
  padding-inline: 0.25rem;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.sortIcon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: text-top;
}
