/* @src/components/Modal.module.css */

input:focus,
textarea:focus {
  outline: none;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(17, 0, 57, 0.2); */
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999;
}

/* .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90vw;
  max-width: 25rem;
  background-color: var(--bg-primary);
  color: var(--text-white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
}

.modalHeading {
  margin: 0;
  /* padding: 1rem; */
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  /* text-align: center; */
}

.modalContent {
  display: flex;
  flex-direction: column;
  /* font-size: 14px;
  text-align: center; */
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalFormLabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.modalFormInputWrapper {
  display: flex;
  flex-direction: row;
}

.modalFormInput {
  background-color: inherit;
  border: 1px solid var(--border-dark);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.modalFormTextarea {
  resize: vertical;
  height: 7rem;
}

.modalFormInput:focus,
.modalFormTextarea:focus {
  outline: none;
  border: 1px solid var(--text-white);
}

.modalFormFieldset {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  border: none;
  padding: 0;
  margin: 0;
}
.modalFormFieldset > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.modalFormOption {
  color: initial;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1.5rem;
  border: none;
  background-color: white;
}

.addBtn {
  color: var(--text-purple);
  background-color: var(--bg-white);
  border: 1px solid var(--border-dark);
}

.saveBtn {
  color: var(--text-white);
  background-color: var(--bg-purple);
}
.saveBtn:hover {
  background-color: var(--bg-lightPurple);
}

.deleteBtn {
  color: #fff;
  background-color: #ff3e4e;
}

.cancelBtn {
  color: var(--text-purple);
  background-color: var(--bg-white);
  border: 1px solid var(--border-dark);
}
