/* @src/components/Modal.module.css */

/*********/
/* RESET */
/*********/
input,
select {
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

/******************/
/* MODAL BACKDROP */
/******************/
.darkBG {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */
  position: fixed;
  z-index: 999;
}

.darkBG.darkMode {
  background-color: rgba(0, 0, 0, 0.2);
}
.darkBG.lightMode {
  background-color: rgba(12, 0, 57, 0.2);
}

/*********/
/* MODAL */
/*********/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90vw;
  max-width: 25rem;
  /* background-color: var(--bg-primary);
  color: var(--text-white); */
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
}

.modal.darkMode {
  background-color: var(--bg-primary);
  color: var(--text-white);
}
.modal.lightMode {
  background-color: var(--bg-white);
  color: var(--text-dark);
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modalHeading {
  margin: 0;
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  text-transform: capitalize;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*********/
/* TASKS */
/*********/
.taskDescription {
  color: var(--text-mediumGrey);
}


/*********/
/* FORMS */
/*********/
.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalFormLabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.modalFormInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.modalFormInput {
  background-color: inherit;
  border: 1px solid var(--border-dark);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.modalFormInput:disabled {
  color: var(--text-mediumGrey);
}
.lightMode .modalFormInput {
  border: 1px solid var(--text-mediumGrey);
}
.modalFormInput.inputReadOnly {
  border: 1px solid transparent;
  border-radius: 0;
  background-color: var(--bg-veryDarkGrey);
}
.lightMode .modalFormInput.inputReadOnly {
  background-color: var(--bg-veryLightBlue);
}

.modalFormTextarea {
  resize: none;
  height: 7.1rem;
}


/* modal form textarea scrollbar */
.modalFormTextarea::-webkit-scrollbar {
  width: 1rem;
}

.modalFormTextarea::-webkit-scrollbar-thumb {
  border-left: .25rem solid rgba(0, 0, 0, 0);
  border-right: .25rem solid rgba(0, 0, 0, 0);
  border-top: .25rem solid rgba(0, 0, 0, 0);
  border-bottom: .25rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: .5rem;
  /* background-color: red; */
}
.modal.darkMode .modalFormTextarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-medium);
}
.modal.lightMode .modalFormTextarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-light);
}


.modalFormInput:focus,
.modalFormTextarea:focus {
  outline: none;
  border: 1px solid var(--text-white);
}
.lightMode .modalFormInput:focus,
.lightMode .modalFormTextarea:focus {
  outline: none;
  border: 1px solid var(--border-dark);
}
.modalFormFieldset {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  border: none;
  padding: 0;
  margin: 0;
}
.modalFormFieldset > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.modalFormOption {
  color: initial;
}

.modalFormLabelCheckbox {
  width: unset;
  vertical-align: middle;
}

/***********/
/* BUTTONS */
/***********/
.btn {
  cursor: pointer;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1.5rem;
  border: none;
  background-color: white;
}

.addBtn {
  color: var(--text-purple);
  background-color: var(--bg-white);
  border: 1px solid var(--border-dark);
}

.saveBtn {
  color: var(--text-white);
  background-color: var(--bg-purple);
}
.saveBtn:hover {
  background-color: var(--bg-lightPurple);
}

.deleteBtn {
  color: #fff;
  background-color: #ff3e4e;
}
.deleteBtnCircle {
  color: var(--text-mediumGrey);
  background: none;
  padding: 0;
}
.deleteBtnIcon {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-top;
}

.cancelBtn {
  color: var(--text-purple);
  background-color: var(--bg-white);
  border: 1px solid var(--border-dark);
}

/* .deleteBtn {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-top;
  color: #fff;
  background-color: #ff3e4e;
  padding: 0;
} */