/* sidebar show button */
.button--show-sidebar {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 2rem;
    opacity: 1;
    color: var(--text-white);
    background-color: var(--bg-purple);
    border: none;
    padding: .5rem 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    padding-left: 1.25rem;
  }
  .button--show-sidebar:hover {
    background-color: var(--bg-lightPurple);
  }
  @media screen and (min-width: 768px) {
    .button--show-sidebar {
      display: block;
    }
  }
  .button__icon--show {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
  
  @keyframes buttonShow {
    0% {opacity: 0;}
    to {opacity: 1;}
  }
  .animate-buttonShow {
    animation: buttonShow 1.5s cubic-bezier(.16,1,.3,1) .25s both;
  }
  