/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--bg-primary);
  height: 4rem;
}
@media screen and (min-width: 768px) {
  .header {
    height: 6rem;
  }
}
.header.light-mode {
  background-color: var(--bg-white);
  color: var(--text-dark);
}
.header.light-mode .header__app-brand {
  border-right: 1px solid var(--border-light);
}
.header.dark-mode .header__app-brand {
  border-right: 1px solid var(--border-dark);
}
.header__app-brand {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-basis: max-content;
  align-items: center;
  width: var(--sidebar-width-mobile);
}
@media screen and (min-width: 768px) {
  .header__app-brand {
    flex-basis: initial;
    width: var(--sidebar-width-tablet);
  }
}
@media screen and (min-width: 1024px) {
  .header__app-brand {
    width: var(--sidebar-width-desktop);
  }
}

.header .header__app-logo {
  content: url(/assets/logo-mobile.svg);
  width: 24px;
  height: 25px;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .header.dark-mode .header__app-logo {
    content: url(/assets/logo-light.svg);
    width: 153px;
    height: 26px;
  }
  .header.light-mode .header__app-logo {
    content: url(/assets/logo-dark.svg);
    width: 153px;
    height: 26px;
  }

}
@media screen and (min-width: 1024px) {
  .header .header__app-logo {
    margin-left: 2rem;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header__board-title {
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  margin: 0;
  white-space: nowrap;
}
.header__button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}


/* header buttons */
.header-button--new-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-purple);
  color: var(--text-white);
  border: none;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 1.5rem;
}
.header-button--new-task:hover {
  background-color: var(--bg-lightPurple);
}
@media screen and (min-width: 768px) {
  .header-button--new-task {
    padding: 0.75rem 2rem 0.75rem 2rem;
  }
}
.header-button__icon--new {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-top;
}
.header-button__text--new-task {
  display: none;
  font-weight: var(--fw-700);
}
@media screen and (min-width: 768px) {
  .header-button__text--new-task {
    display: initial;
  }
}

.header-button--edit-board {
  font-size: 1.7rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-mediumGrey);
  border: none;
  border-radius: 1.5rem;
  vertical-align: middle;
}

.header-button__icon--edit {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.edit-board-menu--wrapper {
  position: relative;
}
.edit-board-menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(54, 78, 126, 0.1) 0px 4px 6px 0px;
  position: absolute;
  top: 3.5rem;
  right: .5rem;
  z-index: 99;
}
.header.light-mode .edit-board-menu {
  background-color: var(--bg-veryLightBlue);
}
.header.dark-mode .edit-board-menu {
  background-color: var(--bg-secondary);
}
.edit-board-menu.show {
  visibility: visible;
}
.edit-board-menu.hide {
  visibility: hidden;
}

.edit-board-menu--edit {
  color: var(--text-mediumGrey);
  white-space: nowrap;
  cursor: pointer;
}
.edit-board-menu--delete {
  color: var(--text-danger);
  white-space: nowrap;
  cursor: pointer;
}

.edit-board-menu--edit:hover, .edit-board-menu--delete:hover {
  opacity: .7;
}