/* MAIN */
.main {
    height: initial;
  }
  @media screen and (min-width: 768px) {
    .main {
      height: 0;
    }
  }
  
  
  /* BOARD */
  .board-wrapper {
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color: var(--bg-secondary);
    color: var(--text-white);
  }
  .board-wrapper.dark-mode {
    background-color: var(--bg-secondary);
    color: var(--text-white);
  }
  .board-wrapper.light-mode {
    background-color: var(--bg-veryLightBlue);
    color: var(--text-dark);
  }
  /* thin board slider animation */
  @keyframes boardThin {
    0% {margin-left: 0px;}
    to {margin-left: 0px;}
  }
  @media screen and (min-width: 768px) {
    @keyframes boardThin {
      0% {margin-left: calc(-1 * var(--sidebar-width-tablet));}
      to {margin-left: 0px;}
    }
  }
  @media screen and (min-width: 1024px) {
    @keyframes boardThin {
      0% {margin-left: calc(-1 * var(--sidebar-width-desktop));}
      to {margin-left: 0px;}
    }
  }
  .animate-boardThin {
    animation: boardThin 1s cubic-bezier(.16,1,.3,1) both;
  }
  
  /* wide board slider animation */
  @keyframes boardWide {
    0% {margin-left: 0px;}
    to {margin-left: 0px;}
  }
  @media screen and (min-width: 768px) {
    @keyframes boardWide {
      0% {margin-left: 0px;}
      to {margin-left: calc(-1 * var(--sidebar-width-tablet));}
    }
  }
  @media screen and (min-width: 1024px) {
    @keyframes boardWide {
      0% {margin-left: 0px;}
      to {margin-left: calc(-1 * var(--sidebar-width-desktop));}
    }
  }
  .animate-boardWide {
    animation: boardWide 1s cubic-bezier(.16,1,.3,1) both;
  }
  


  /* sidebar show button */
.button--show-sidebar {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    opacity: 1;
    color: var(--text-white);
    background-color: var(--bg-purple);
    border: none;
    padding: .5rem 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    padding-left: 1.25rem;
  }
  .button--show-sidebar:hover {
    background-color: var(--bg-lightPurple);
  }
  @media screen and (min-width: 768px) {
    .button--show-sidebar {
      display: block;
    }
  }
  .button__icon--show {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
  
  @keyframes buttonShow {
    0% {opacity: 0;}
    to {opacity: 1;}
  }
  .animate-buttonShow {
    animation: buttonShow 1.5s cubic-bezier(.16,1,.3,1) .25s both;
  }
  