@import url(/src/App.css);

/* all board columns section */
.board__column-section {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
    gap: 2rem;
    padding: 1rem 1rem;
    overflow: auto;
  }
  @media screen and (min-width: 768px) {
    .board__column-section {
      flex-direction: row;
      padding: 1rem 2rem;
    }
  }
  
  .board__column-section::-webkit-scrollbar {
    height: 1.5rem;
  }
  .board__column-section::-webkit-scrollbar-thumb {
    border-bottom: .75rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  .board__column-section.dark-mode::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-dark);
  }
  .board__column-section.light-mode::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-light);
  }
  


  /* new column */
.board__column-new {
    margin-top: 1.5rem;
    justify-content: center;
    height: 100%;
    min-height: 5rem;
    min-width: 17.5rem;
    border-radius: 0.5rem;
  }
  .board__column-section.dark-mode .board__column-new{
    background-image: linear-gradient(180deg,rgba(43,44,55,.25),rgba(43,44,55,.125));
  }
  
  .board__column-section.light-mode .board__column-new{
    background-image: linear-gradient(180deg,rgba(43,44,55,.05),rgba(43,44,55,.025));
  }
  .button--new-column {
    color: var(--text-mediumGrey);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .button--new-column:hover {
    color: var(--text-purple);
  }
  