/* all board columns section */
.board__column-section {
  display: flex;
  flex-direction: column;
  flex: auto;
  position: relative;
  gap: 2rem;
  padding: 1rem 1rem;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .board__column-section {
    flex-direction: row;
    padding: 1rem 2rem;
  }
}

.board__column-section::-webkit-scrollbar {
  height: 1.5rem;
}
.board__column-section::-webkit-scrollbar-thumb {
  border-bottom: .75rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.board__column-section.dark-mode::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-dark);
}
.board__column-section.light-mode::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-light);
}
