/* SIDEBAR */
.sidebar {
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0rem 1.5rem 1.5rem 0rem;
    width: var(--sidebar-width-mobile);
    /* border-right: 1px solid var(--border-dark); */
    /* z-index: 99; */
    /* background-color: var(--bg-primary); */
  }
  @media screen and (min-width: 768px) {
    .sidebar {
      display: flex;
      width: var(--sidebar-width-tablet);
    }
  }
  @media screen and (min-width: 1024px) {
    .sidebar {
      width: var(--sidebar-width-desktop);
    }
  }
  .sidebar.dark-mode {
    background-color: var(--bg-primary);
    color: var(--text-white);
    border-right: 1px solid var(--border-dark);
  }
  .sidebar.light-mode {
    background-color: var(--bg-white);
    color: var(--text-dark);
    border-right: 1px solid var(--border-light);
  }
  
  .sidebar__nav-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar__heading {
    font-size: .75rem;
    font-weight: var(--fw-700);
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--text-mediumGrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 0rem 0.75rem 1rem;
  }
  @media screen and (min-width: 1024px) {
    .sidebar__heading {
      padding: 0.75rem 0rem 0.75rem 2rem;
    }
  }
  .sidebar__options-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .theme-switcher {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-400);
    /* background-color: var(--bg-veryDarkGrey); */
    color: var(--text-mediumGrey);
    border: none;
    margin: 0rem 0rem 1rem 1rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: .5rem;
  }
  @media screen and (min-width: 1024px) {
    .theme-switcher {
      margin: 0rem 1rem 1rem 2rem;
    }
  }
  .sidebar.dark-mode .theme-switcher {
    background-color: var(--bg-veryDarkGrey);
  }
  .sidebar.light-mode .theme-switcher {
    background-color: var(--bg-veryLightBlue);
  }
  .theme-switcher__toggle {
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 0.75rem;
    background-color: var(--bg-purple);
    cursor: pointer;
  }
  /* .sidebar.dark-mode .theme-switcher__toggle {
    background-color: var(--bg-purple);
  }
  .sidebar.light-mode .theme-switcher__toggle {
    background-color: var(--bg-lightPurple);
  } */
  .theme-switcher__toggle-indicator {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--bg-white);
    border-radius: 100%;
    cursor: pointer;
    /* transform: translateX(7px); */
  }
  .theme-switcher__toggle-indicator.dark-mode {
    transform: translateX(9px);
  }
  .theme-switcher__toggle-indicator.light-mode {
    transform: translateX(-9px);
  }
  .theme-switcher__icon {
    flex-shrink: 0;
  }
  .theme-switcher__icon--light {
    margin-right: .75rem;
  }
  .theme-switcher__icon--dark {
    margin-left: .75rem;
  }
  
  /* sidebar slider animation */
  @keyframes sidebarClose {
    0% {transform: translateX(0)}
    to {transform: translateX(-100%)}
  }
  .animate-sidebarClose {
    animation: sidebarClose 1s cubic-bezier(.16,1,.3,1) both;
  }
  
  @keyframes sidebarOpen {
    0% {transform: translateX(-100%)}
    to {transform: translateX(0)}
  }
  .animate-sidebarOpen {
    animation: sidebarOpen 1s cubic-bezier(.16,1,.3,1) both;
  }
  
  /* sidebar hide button */
.sidebar-button.sidebar-button--hide-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: var(--fw-400);
    cursor: pointer;
    background-color: transparent;
    color: var(--text-mediumGrey);
    border: none;
    padding: 0.75rem 0rem 0.75rem 1rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    .sidebar-button.sidebar-button--hide-sidebar {
      padding: 0.75rem 0rem 0.75rem 2rem;
    }
  }
  .button__icon--hide {
    margin-right: .75rem;
  }
  
  @keyframes buttonHide {
    0% {opacity: 1;}
    to {opacity: 0;}
  }
  .animate-buttonHide {
    animation: buttonHide .5s cubic-bezier(.16,1,.3,1) both;
  }
  
  /* sidebar buttons */
  .sidebar-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: var(--fw-700);
    cursor: pointer;
    background-color: transparent;
    color: var(--text-mediumGrey);
    border: none;
    padding: 0.75rem 0rem 0.75rem 1rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    .sidebar-button {
      padding: 0.75rem 0rem 0.75rem 2rem;
    }
  }
  /* .sidebar-button:hover {
    background-color: var(--bg-white);
    color: var(--text-purple);
  } */
  .sidebar.dark-mode .sidebar-button:hover {
    background-color: var(--bg-white);
    color: var(--text-purple);
  }
  .sidebar.light-mode .sidebar-button:hover {
    background-color: var(--bg-veryLightBlue);
    color: var(--text-purple);
  }
  .sidebar-button.active {
    background-color: var(--bg-purple);
    color: var(--text-white);
  }
  .sidebar-button__icon {
    flex-shrink: 0;
    margin-right: .75rem;
  }
  .sidebar-button__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1rem;
  }
  .sidebar-button.sidebar-button--new-board {
    color: var(--text-purple);
  }
  
  