/* TASKS */
.board__column-section .task-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 17.5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
  }
  .board__column-section.dark-mode .task-card {
    background-color: var(--bg-primary);
  }
  .board__column-section.light-mode .task-card {
    background-color: var(--bg-white);
  }
  
  .task-card:hover {
    cursor: pointer;
  }
  .task-card:hover .task-card__title {
    color: var(--text-purple);
  }
  .task-card__title {
    font-weight: var(--fw-700);
  }
  .task-card__subtasks {
    font-size: .75rem;
    color: var(--text-mediumGrey);
  }
  