/* sidebar buttons */
.sidebar-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: var(--fw-700);
    cursor: pointer;
    background-color: transparent;
    color: var(--text-mediumGrey);
    border: none;
    padding: 0.75rem 0rem 0.75rem 1rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    .sidebar-button {
      padding: 0.75rem 0rem 0.75rem 2rem;
    }
  }
  
  .sidebar.dark-mode .sidebar-button:hover {
    background-color: var(--bg-white);
    color: var(--text-purple);
  }
  .sidebar.light-mode .sidebar-button:hover {
    background-color: var(--bg-veryLightBlue);
    color: var(--text-purple);
  }
  .sidebar-button.active {
    background-color: var(--bg-purple);
    color: var(--text-white);
  }
  .sidebar-button__icon {
    flex-shrink: 0;
    margin-right: .75rem;
  }
  .sidebar-button__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1rem;
  }
  .sidebar-button.sidebar-button--new-board {
    color: var(--text-purple);
  }
  