/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--bg-primary);
  height: 4rem;
}
@media screen and (min-width: 768px) {
  .header {
    height: 6rem;
  }
}
.header.light-mode {
  background-color: var(--bg-white);
  color: var(--text-dark);
}
.header.light-mode .header__app-brand {
  border-right: 1px solid var(--border-light);
}
.header.dark-mode .header__app-brand {
  border-right: 1px solid var(--border-dark);
}
.header__app-brand {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-basis: max-content;
  align-items: center;
  width: var(--sidebar-width-mobile);
}
@media screen and (min-width: 768px) {
  .header__app-brand {
    flex-basis: initial;
    width: var(--sidebar-width-tablet);
  }
}
@media screen and (min-width: 1024px) {
  .header__app-brand {
    width: var(--sidebar-width-desktop);
  }
}

.header .header__app-logo {
  content: url(/assets/logo-mobile.svg);
  width: 24px;
  height: 25px;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .header.dark-mode .header__app-logo {
    content: url(/assets/logo-light.svg);
    width: 153px;
    height: 26px;
  }
  .header.light-mode .header__app-logo {
    content: url(/assets/logo-dark.svg);
    width: 153px;
    height: 26px;
  }

}
@media screen and (min-width: 1024px) {
  .header .header__app-logo {
    margin-left: 2rem;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header__board-title {
  display: none;
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  margin: 0;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .header__board-title {
    display: initial;
  }
}

.header__button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}
