#root {
  margin: 0 auto;
  --bg-primary: hsl(235 12% 19%);
  --bg-secondary: hsl(235 16% 15%);
  --bg-purple:  hsl(242 48% 58%);
  --text-purple: hsl(242 48% 58%);
  --border-dark: hsl(236 11% 27%);

  --sidebar-width-mobile: 100px;
  --sidebar-width-tablet: 200px;
  --sidebar-width-desktop: 300px;

}

/* bypass animation on first load */
body.preload *{
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-primary);
}
.header__app-brand {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 1rem;
  width: var(--sidebar-width-mobile);
  border-right: 1px solid var(--border-dark);
}
@media screen and (min-width: 768px) {
  .header__app-brand {
    width: var(--sidebar-width-tablet);
  }
}
@media screen and (min-width: 1024px) {
  .header__app-brand {
    width: var(--sidebar-width-desktop);
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex: auto;
  padding: 1rem;
}
.header__board-title {
  flex: auto;
  /* padding: 1rem; */
  white-space: nowrap;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 1rem;
  width: var(--sidebar-width-mobile);
  border-right: 1px solid var(--border-dark);
  z-index: 99;
  background-color: var(--bg-primary);
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: var(--sidebar-width-tablet);
  }
}
@media screen and (min-width: 1024px) {
  .sidebar {
    width: var(--sidebar-width-desktop);
  }
}

/* sidebar slider animation */
@keyframes sidebarClose {
  0% {
      transform: translateX(0)
  }

  to {
      transform: translateX(-100%)
  }
}

.animate-sidebarClose {
  animation: sidebarClose 1s cubic-bezier(.16,1,.3,1) both;
}

@keyframes sidebarOpen {
  0% {
      transform: translateX(-100%)
  }

  to {
      transform: translateX(0)
  }
}

.animate-sidebarOpen {
  animation: sidebarOpen 1s cubic-bezier(.16,1,.3,1) both;
}


/* BOARD */
.board-wrapper {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: var(--bg-secondary);
}

/* board slider animation */
@keyframes boardThin {
  0% {
    margin-left: calc(-1 * var(--sidebar-width-mobile));
  }

  to {
      margin-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  @keyframes boardThin {
    0% {
      margin-left: calc(-1 * var(--sidebar-width-tablet));
    }
  
    to {
        margin-left: 0px;
    }
  }
}
@media screen and (min-width: 1024px) {
  @keyframes boardThin {
    0% {
      margin-left: calc(-1 * var(--sidebar-width-desktop));
    }
  
    to {
        margin-left: 0px;
    }
  }
}





.animate-boardThin {
  animation: boardThin 1s cubic-bezier(.16,1,.3,1) both;
}

@keyframes boardWide {
  0% {
      margin-left: 0px;
  }

  to {
      margin-left: calc(-1 * var(--sidebar-width-mobile));
  }
}
@media screen and (min-width: 768px) {
  @keyframes boardWide {
    0% {
        margin-left: 0px;
    }
  
    to {
        margin-left: calc(-1 * var(--sidebar-width-tablet));
    }
  }
}
@media screen and (min-width: 1024px) {
  @keyframes boardWide {
    0% {
        margin-left: 0px;
    }
  
    to {
        margin-left: calc(-1 * var(--sidebar-width-desktop));
    }
  }
}
.animate-boardWide {
  animation: boardWide 1s cubic-bezier(.16,1,.3,1) both;
}

.board__columns {
  display: flex;
  flex-direction: row;
  flex: auto;
  position: relative;
  gap: 1rem;
  padding: 1rem;
}
.board__column-single {
  border: 1px solid grey;
  padding: 1rem;
}


button.show-sidebar {
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  opacity: 1;
}
button.hide-sidebar {
  cursor: pointer;
  margin-bottom: 1rem;
}

/* button animation */
@keyframes buttonShow {
  0% {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.animate-buttonShow {
  animation: buttonShow 1s cubic-bezier(.16,1,.3,1) .5s both;
}

@keyframes buttonHide {
  0% {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

.animate-buttonHide {
  animation: buttonHide .5s cubic-bezier(.16,1,.3,1) both;
}
