/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root {
  /* colors */
  --bg-primary: hsl(235 12% 19%);
  --bg-secondary: hsl(235 16% 15%);
  --bg-purple:  hsl(242 48% 58%);
  --bg-lightPurple: hsl(243 100% 82%);
  --bg-white: hsl(0 0% 100%);

  --border-dark: hsl(236 11% 27%);

  --text-purple: hsl(242 48% 58%);
  --text-mediumGrey:  hsl(216 15% 60%);
  --text-white: hsl(0 0% 100%);

  /* sidebar width */
  --sidebar-width-mobile: 100px;
  --sidebar-width-tablet: 200px;
  --sidebar-width-desktop: 300px;

  /* typography */
  --fw-400: 400;
  --fw-700: 700;
}

/* app root element */
#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ------------------- */
/* Components          */
/* ------------------- */

/* MAIN */
.main {
  height: initial;
}
@media screen and (min-width: 768px) {
  .main {
    height: 0;
  }
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--bg-primary);
  height: 4rem;
}
@media screen and (min-width: 768px) {
  .header {
    height: 6rem;
  }
}
.header__app-brand {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  width: var(--sidebar-width-mobile);
  border-right: 1px solid var(--border-dark);
}
@media screen and (min-width: 768px) {
  .header__app-brand {
    width: var(--sidebar-width-tablet);
  }
}
@media screen and (min-width: 1024px) {
  .header__app-brand {
    width: var(--sidebar-width-desktop);
  }
}

.header__app-logo {
  content: url(/assets/logo-mobile.svg);
  width: 24px;
  height: 25px;
  margin-left: 2rem;
}
@media screen and (min-width: 768px) {
  .header__app-logo {
    content: url(/assets/logo-light.svg);
    width: 153px;
    height: 26px;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header__board-title {
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  margin: 0;
  white-space: nowrap;
}
.header__button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* SIDEBAR */
.sidebar {
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0rem 1.5rem 1.5rem 0rem;
  width: var(--sidebar-width-mobile);
  border-right: 1px solid var(--border-dark);
  z-index: 99;
  background-color: var(--bg-primary);
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
    width: var(--sidebar-width-tablet);
  }
}
@media screen and (min-width: 1024px) {
  .sidebar {
    width: var(--sidebar-width-desktop);
  }
}

.sidebar__nav-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar__heading {
  font-size: .75rem;
  font-weight: var(--fw-700);
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: var(--text-mediumGrey);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 0rem 0.75rem 2rem;
}


/* sidebar slider animation */
@keyframes sidebarClose {
  0% {transform: translateX(0)}
  to {transform: translateX(-100%)}
}
.animate-sidebarClose {
  animation: sidebarClose 1s cubic-bezier(.16,1,.3,1) both;
}

@keyframes sidebarOpen {
  0% {transform: translateX(-100%)}
  to {transform: translateX(0)}
}
.animate-sidebarOpen {
  animation: sidebarOpen 1s cubic-bezier(.16,1,.3,1) both;
}

/* BOARD */
.board-wrapper {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: var(--bg-secondary);
}

/* thin board slider animation */
@keyframes boardThin {
  0% {margin-left: 0px;}
  to {margin-left: 0px;}
}
@media screen and (min-width: 768px) {
  @keyframes boardThin {
    0% {margin-left: calc(-1 * var(--sidebar-width-tablet));}
    to {margin-left: 0px;}
  }
}
@media screen and (min-width: 1024px) {
  @keyframes boardThin {
    0% {margin-left: calc(-1 * var(--sidebar-width-desktop));}
    to {margin-left: 0px;}
  }
}
.animate-boardThin {
  animation: boardThin 1s cubic-bezier(.16,1,.3,1) both;
}

/* wide board slider animation */
@keyframes boardWide {
  0% {margin-left: 0px;}
  to {margin-left: 0px;}
}
@media screen and (min-width: 768px) {
  @keyframes boardWide {
    0% {margin-left: 0px;}
    to {margin-left: calc(-1 * var(--sidebar-width-tablet));}
  }
}
@media screen and (min-width: 1024px) {
  @keyframes boardWide {
    0% {margin-left: 0px;}
    to {margin-left: calc(-1 * var(--sidebar-width-desktop));}
  }
}
.animate-boardWide {
  animation: boardWide 1s cubic-bezier(.16,1,.3,1) both;
}

/* all board columns section */
.board__column-section {
  display: flex;
  flex-direction: column;
  flex: auto;
  position: relative;
  gap: 2rem;
  padding: 1rem 2rem;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .board__column-section {
    flex-direction: row;
  }
}

.board__column-section::-webkit-scrollbar {
  height: 1.5rem;
}
.board__column-section::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary);
  border-bottom: .75rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/* single board column */
.board__column-single--wrapper {
  display: flex;
  flex-direction: column;
}

.board__column-indicator {
  display: inline-block;
  background-color: var(--bg-purple);
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  margin-right: .75rem;
}
.board__column-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-mediumGrey);
  margin-bottom: 1rem;

  font-size: .75rem;
  font-weight: var(--fw-700);
  letter-spacing: .1rem;
}

.board__column-single {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .board__column-single {
    overflow: auto;
    /* overflow-y: scroll; */
  }
}

/* single board column scrollbar */
.board__column-single::-webkit-scrollbar {
  width: 1.25rem;
}
.board__column-single::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary);
  border-left: .75rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/* new column */
.board__column-new {
  margin-top: 1.5rem;
  justify-content: center;
  height: 100%;
  min-height: 5rem;
  min-width: 17.5rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(180deg,rgba(43,44,55,.25),rgba(43,44,55,.125));
}
.button--new-column {
  color: var(--text-mediumGrey);
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
}
.button--new-column:hover {
  color: var(--text-purple);
}

/* TASKS */
.task-card {
  padding: 1rem;
  min-height: 5rem;
  min-width: 17.5rem;
  background-color: var(--bg-primary);
  border-radius: .5rem;
}
.task-card:hover .task-card__title {
  color: var(--text-purple);
}
.task-card__title {
  font-weight: var(--fw-700);
}
.task-card__subtasks {
  font-size: .75rem;
  color: var(--text-mediumGrey);
}

/* SIDEBAR SLIDER BUTTONS */

/* sidebar show button */
.button--show-sidebar {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  opacity: 1;
  color: var(--text-white);
  background-color: var(--bg-purple);
  border: none;
  padding: .5rem 1.25rem;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  padding-left: 1.25rem;
}
.button--show-sidebar:hover {
  background-color: var(--bg-lightPurple);
}
@media screen and (min-width: 768px) {
  .button--show-sidebar {
    display: block;
  }
}
.button__icon--show {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

@keyframes buttonShow {
  0% {opacity: 0;}
  to {opacity: 1;}
}
.animate-buttonShow {
  animation: buttonShow 1.5s cubic-bezier(.16,1,.3,1) .25s both;
}

/* sidebar hide button */
.sidebar-button.sidebar-button--hide-sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--fw-400);
  cursor: pointer;
  background-color: transparent;
  color: var(--text-mediumGrey);
  border: none;
  padding: 0.75rem 0rem 0.75rem 2rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.button__icon--hide {
  margin-right: .75rem;
}

@keyframes buttonHide {
  0% {opacity: 1;}
  to {opacity: 0;}
}
.animate-buttonHide {
  animation: buttonHide .5s cubic-bezier(.16,1,.3,1) both;
}

/* sidebar buttons */
.sidebar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--fw-700);
  cursor: pointer;
  background-color: transparent;
  color: var(--text-mediumGrey);
  border: none;
  padding: 0.75rem 0rem 0.75rem 2rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.sidebar-button:hover {
  background-color: var(--bg-white);
  color: var(--text-purple);
}
.sidebar-button.active {
  background-color: var(--bg-purple);
  color: var(--text-white);
}
.sidebar-button__icon {
  margin-right: .75rem;
}
.sidebar-button.sidebar-button--new-board {
  color: var(--text-purple);
}

/* header buttons */
.header-button--new-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-purple);
  color: var(--text-white);
  border: none;
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 1.5rem;
}
.header-button--new-task:hover {
  background-color: var(--bg-lightPurple);
}
@media screen and (min-width: 768px) {
  .header-button--new-task {
    content: initial;
  }
}

.header-button--edit-board {
  font-size: 1.7rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-mediumGrey);
  border: none;
  border-radius: 1.5rem;
  vertical-align: middle;
}
.header-button--edit-board:hover {
  color: var(--text-white);
}
.header-button__icon--edit {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}