/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root {
  /* colors */
  --bg-primary: hsl(235 12% 19%);
  --bg-secondary: hsl(235 16% 15%);
  --bg-purple:  hsl(242 48% 58%);
  --bg-lightPurple: hsl(243 100% 82%);
  --bg-white: hsl(0 0% 100%);
  --bg-veryDarkGrey: hsl(235 16% 15%);
  --bg-veryLightBlue: hsl(224 100% 97%);

  --border-dark: hsl(236 11% 27%);
  --border-light: hsl(221 69% 94%);

  --scrollbar-dark: hsl(235 12% 19%);
  --scrollbar-light: hsla(235, 12%, 19%, 0.1);

  --text-purple: hsl(242 48% 58%);
  --text-mediumGrey:  hsl(216 15% 60%);
  --text-white: hsl(0 0% 100%);
  --text-dark: hsl(237 100% 4%);
  --text-danger: hsl(0 78% 63%);

  --box-shadow: rgba(54, 78, 126, 0.1) 0px 4px 6px 0px;


  /* sidebar width */
  --sidebar-width-mobile: 100px;
  --sidebar-width-tablet: 200px;
  --sidebar-width-desktop: 300px;

  /* typography */
  --fw-400: 400;
  --fw-700: 700;
}

/* app root element */
#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ------------------- */
/* Components          */
/* ------------------- */


