:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Reset font weights */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* override display value on hidden element */
[hidden] { display: none !important; }


/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* set overflow */
html {
  overflow: initial;
}
@media screen and (min-width: 768px) {
  html {
    overflow: hidden;
  }
}


/* setup the body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* bypass animation on first load */
body.preload *{
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

/* body scrollbar */
body::-webkit-scrollbar {
  width: 1.5rem;
}
body.dark::-webkit-scrollbar {
  background-color: var(--bg-secondary);
}
body.light::-webkit-scrollbar {
  background-color: var(--bg-veryLightBlue);
}

body::-webkit-scrollbar-thumb {
  border-left: .25rem solid rgba(0, 0, 0, 0);
  border-right: .25rem solid rgba(0, 0, 0, 0);
  border-top: .25rem solid rgba(0, 0, 0, 0);
  border-bottom: .25rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: var(--scrollbar-dark);
  border-radius: 1rem;
}
body.dark::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-dark);
}
body.light::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-light);
}


body::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: var( --header-height-sm);
}
body.dark::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-color: var(--bg-primary);
}
body.light::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-color: var(--bg-white);
}


/* UTILITY CLASSES */
.overflow-hidden {
  overflow-y: hidden;
}

/* COLOR SCHEME */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
