/*********/
/* RESET */
/*********/
select, input,
input:focus {
  outline: none;
}

.dropdownLabel {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* width: 100%; */
}

.dropdownOption {
    color: initial;
}

.dropdownSelect {
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  margin: 0;
  white-space: nowrap;
  background-color: inherit;
  border: none;
  padding: 0.5rem;
}
.dropdownSelect:disabled {
  color: var(--text-mediumGrey);
}
.lightMode .dropdownSelect {
  border: 1px solid var(--text-mediumGrey);
}

@media screen and (min-width: 768px) {
  .dropdownLabel {
    display: none;
  }
}