.header-button--edit-board {
    font-size: 1.7rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-mediumGrey);
    border: none;
    border-radius: 1.5rem;
    vertical-align: middle;
  }
  

.header-button__icon--edit {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    vertical-align: text-top;
}

.edit-board-menu--wrapper {
    position: relative;
}

.edit-board-menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(54, 78, 126, 0.1) 0px 4px 6px 0px;
    position: absolute;
    top: 3.5rem;
    right: .5rem;
    z-index: 99;
}

.light-mode .edit-board-menu {
    background-color: var(--bg-veryLightBlue);
}

.dark-mode .edit-board-menu {
    background-color: var(--bg-secondary);
}

.edit-board-menu.show {
    visibility: visible;
}

.edit-board-menu.hide {
    visibility: hidden;
}

.edit-board-menu--edit {
    color: var(--text-mediumGrey);
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize;
    opacity: .7;
}

.edit-board-menu--delete {
    color: var(--text-danger);
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize;
    opacity: .7;
}

.edit-board-menu--edit:hover,
.edit-board-menu--delete:hover {
    opacity: 1;
}