.boards-dropdown--wrapper {
  position: relative;
}
@media screen and (min-width: 768px) {
  .boards-dropdown--wrapper {
    display: none;
  }
}

.button--select-board {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--text-white);
  border: none;

  background-color: inherit;
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  margin: 0;
  white-space: nowrap;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem
}
.light-mode .button--select-board {
  color: var(--text-dark);
}

.button__text--select-board {
  /* display: none; */
  font-weight: var(--fw-700);
}
/* .light-mode .button__text--select-board {
  color: var(--text-dark);
} */


/* @media screen and (min-width: 768px) {
  .button__text--select-board {
      display: initial;
  }
} */

.button__icon--chevron-down {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  /* vertical-align: text-top; */
}

.boards-dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(54, 78, 126, 0.1) 0px 4px 6px 0px;
  position: absolute;
  top: 3.5rem;
  left: .5rem;
  z-index: 99;
}

.light-mode .boards-dropdown-menu {
  background-color: var(--bg-veryLightBlue);
}

.dark-mode .boards-dropdown-menu {
  background-color: var(--bg-secondary);
}

.boards-dropdown-menu.show {
  visibility: visible;
}

.boards-dropdown-menu.hide {
  visibility: hidden;
}


.boards-dropdown__option {
  color: var(--text-mediumGrey);
  white-space: nowrap;
  cursor: pointer;
  text-transform: capitalize;
  opacity: .7;
}

.boards-dropdown__option:hover {
  opacity: 1;
}


.boards-dropdown--wrapper .theme-switcher {
  margin: 0;
}
